body {
	background-image: linear-gradient(
			rgba(0, 0, 255, 0.01),
			rgba(255, 255, 0, 0.01)
		),
		url("background.jpg");

	counter-reset: Serial;
	padding: 10px;
}
#students tr td:first-child::before {
	counter-increment: Serial;
	content: counter(Serial);
}

.container {
	padding: 20px;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-color: #fff;
	opacity: 0.96;
}

#students {
	max-width: 700px;
	margin: auto;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 200px;
}
#students th,
#students td {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}
#students tr:nth-child(even) {
	background: #f2f2f2;
}
#students tr:hover {
	background: #ddd;
}
#students th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #d0f0d0;
	color: #000;
}
#students td a {
	text-align: right;
	margin-right: -10px;
	opacity: 0;
	position: relative;
	cursor: pointer;
}
#students tr:hover td a {
	opacity: 1;
}

#students td {
	margin-right: 200px;
}
.form {
	height: 300px;
	max-width: 500px;
	text-align: left;
	padding: 10px;
	padding-top: 30px;
	margin: auto;
	background: #a1a1a1;
	margin-bottom: 100px;
}
.form form input {
	height: 5px;
	width: 85%;
	border: 1px solid #d2d2d2;
}
.form form {
	width: 100%;
	padding: 10px;
	margin: 10px;
	display: table;
}
.form form p {
	margin-bottom: 15px;
	padding: 20px;
	display: table-row;
}
.form form p label,
.form form p input {
	padding-top: 12px;
	padding-bottom: 12px;
	display: table-cell;
}

.form form p button {
	margin-left: 257px;
	margin-right: -450px;
	margin-top: 20px;
	border-radius: 12px;
	width: 200px;
	background-color: #0bf713; /* Green */
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}
